@mixin conteiner {
  width: 100%;
  padding: 0 1rem;
  max-width: calc(1400px + 2rem);
  margin: 0 auto;
}

@mixin normaLizeImg {
  width: 100%;
  & > img {
    width: 100%;
    display: block;
  }
}

@mixin radiusImages {
  overflow: hidden;
  border-radius: 10px;
}

@mixin radiusContainer {
  overflow: hidden;
  border-radius: 12px;
}
@mixin textDetails {
  
}
