@import "./variables.scss";
@import "./mixin";

* {
  box-sizing: border-box;
}

html {
  color: $default-text-color;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-size: 1rem;
}

.content-wrapper {
  @include conteiner;
}

.text-bold {
  font-weight: 800;
}

.page-main {
  display: flex;
  justify-content: center;
}

.spesing {
  margin-top: $spasing;
  margin-bottom: $spasing;
  padding-bottom: 40px;
}

.text-regular {
  line-height: 24px;
  font-weight: 400;
  color: $default-text-color;
  padding-top: $spasing;
}