@import "./mixin";
@import "./variables.scss";
@import "./base.scss";

.page-main {
  margin: 0 80px;
}

.global-content {
  @include conteiner;
}

.promotions {
  padding: $spasing;
  &__item {
    padding: $spasing;
  }
}

.section-function {
  min-height: 96px;
  @include radiusContainer;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__img img {
    max-width: 126px;
    display: block;
  }
  &__row {
    padding-left: 24px;
    align-self: center;
    line-height: 24px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .page-main {
    margin: 0 40px;
  }
  .section-function {
    min-height: 200px;
    width: 100%;
    &__inner {
      display: block;
    }
    &__img img {
      max-width: 100%;
      display: block;
    }
    &__row {
      margin: 0;
      padding: 16px;
      display: block;
    }
  }
}

.promotion {
  min-height: 200px;
  width: 100%;

  &__header {
    font-size: 22px;
    padding: $spasing;
    font-weight: $text-weight;
  }
  &__img {
    @include radiusImages;
    @include normaLizeImg;
  }
  &__content {
    margin-top: $spasing;
  }
  &__description {
    display: flex;
    justify-content: space-between;
  }
  &__country {
    font-size: 1rem;
    font-weight: $text-weight;
    color: $default-text-color;
  }
  &__title {
    margin-top: $spasing;
    font-size: 1.2rem;
    font-weight: $text-weight;
  }
  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: $default-text-color;
    margin-left: $spasing;
  }
}

.section-adventure {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__container:not(:first-child) {
    margin-left: $spasing;
  }
  &__img {
    max-width: 100%;
    display: block;
  }
  &__wrapper {
    margin-bottom: 12px;
    @include radiusImages;
  }
  &__wrapper img {
    display: block;
    max-height: 100%;
  }
}
@media (max-width: 992px) {
  .section-adventure {
    flex-wrap: wrap;
    justify-content: center;
    &__container {
      flex-basis: 200px;
    }
  }
}
