@import "./variables.scss";

.footer {
    border-top: 2px solid rgb(235, 235, 235);
    padding: 48px 0;
    &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em;
    }
    &__section {
        padding: $spasing; 
        &_button {
            display: grid;
            grid-template-columns: 1fr;
            > button {
            margin-left: $spasing;
            background-color: rgb(0, 106, 112);
            border: 1px solid transparent;
            border-radius: 4px;
            padding: 0 4px;
            color: $white-color;
        }
        }
    }
    &_title {
        margin-top: 16px;
    }
    &__section_item  > li {
            margin-bottom: 4px;
            display: list-item;
            color: $title-text-color;
        }
        > li:hover {
            border-bottom: 1px solid rgb(235, 235, 235);
        }
    

}