@import "./mixin";
@import "./base.scss";

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
  &__item {
    margin: 0 8px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 36%;
  z-index: 10;
  font-size: 0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 255, 255);
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../arrow1.png) 0 0 / 100% no-repeat #ffffff;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../arrow2.png) 0 0 / 100% no-repeat #ffffff;
  // background-color: rgb(255, 255, 255);
}
.slider .slick-arrow.slick-disabled {
  opacity: 0;
}

.logo-color {
  color: black !important;
}